/*--------------------------------------------------------------
# quarto grids
--------------------------------------------------------------*/
.quarto-grid-item.card {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: var(--bs-border-radius-lg);
  transition: all 0.25s ease-in-out;
}

.quarto-grid-item.card:hover {
  transform: scale(1.08);
}

.quarto-grid-item .listing-categories {
  padding-top: 10px;
}

.quarto-grid-item .listing-title {
  font-weight: 700;
}

.quarto-grid-item .listing-subtitle {
  font-size: 0.875em;
}

/*
hide div with id "quarto-sidebar-glass" as it makes the About content
appear at the bottom
*/
#quarto-sidebar-glass {
  display: none;
}

/* filter and search icons on landing page */
.input-group-text {
  background-color: inherit;
}
