/*--------------------------------------------------------------
# font
--------------------------------------------------------------*/

/* fira-code-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/fira-code-v27-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/fira-code-v27-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/fira-code-v27-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/fira-code-v27-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/fira-code-v27-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

pre {
  font-family: "Fira Code";
}

/*--------------------------------------------------------------
# quarto grids
--------------------------------------------------------------*/
.quarto-grid-item.card {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: var(--bs-border-radius-lg);
  transition: all 0.25s ease-in-out;
}

.quarto-grid-item.card:hover {
  transform: scale(1.08);
}

.quarto-grid-item .listing-categories {
  padding-top: 10px;
}

.quarto-grid-item .listing-title {
  font-weight: 700;
}

.quarto-grid-item .listing-subtitle {
  font-size: 0.875em;
}

/*
hide div with id "quarto-sidebar-glass" as it makes the About content
appear at the bottom
*/
#quarto-sidebar-glass {
  display: none;
}

/* filter and search icons on landing page */
.input-group-text {
  background-color: inherit;
}
